@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  background-color: transparent;

}

::-webkit-input-placeholder {
  color: #56585b;
}

::-moz-placeholder {
  color: #56585b;
}

:-moz-placeholder {
  color: #56585b;
}
nav .brand-logo{
 font-size: 2rem !important;
 font-weight: 100 !important;
}

.modal{
  /* background-color: #0000000c !important;
  backdrop-filter: blur(10px) !important; */
}


html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.result{
  color: rgb(200, 255, 0);
  font-size: 26px;
}
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background: url('https://images.pexels.com/photos/2972757/pexels-photo-2972757.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center fixed ;
  -webkit-background-size: cover;

  -moz-background-size: cover;
  background-size: cover;
  background-color: #000000;
  color: #ffffff;
  overflow: hidden;
}

ul, nav{
  list-style: none;
  padding: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}

a:hover {
    text-decoration: none !important;
    color: #ff0000;
  opacity: 1;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin: 0 0 1.5rem;
}

h2{
    margin-top: 0px !important;
    font-size: 4.0rem !important;
    font-weight: 900 !important;
    color: #fff;
    margin-bottom: 50px !important;

}

h2 span{
  font-size: 6.3rem;
  color: red;

}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px 100px 0;
}
nav{
  background-color: #ffffff15 !important;
  margin: 0px 10px 0px 1px;
  padding: 0px 30px;
  font-weight: 100 !important;
  backdrop-filter: blur(5px);
  font-family: 'Lato', sans-serif !important;
}

header nav ul {
  display: flex;
}

header nav li{
  margin: 0 15px;
}

header nav li:first-child{
  margin-left: 0; 
}

header nav li:last-child{
  margin-right: 0;  
}



a.btn:hover {

  color: #fff;
}
.bg{
  background-color: rgba(12, 12, 12, 0.257) !important;
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
}
.cover  {
  min-height: 80vh;
  width: 100%;
  /* background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.153)), to(rgba(0, 0, 0, 0.814))); */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(216, 216, 216, 0.07) 0%, rgba(189, 189, 189, 0.191) 100%);
  padding: 10px 50px;
  margin-top: 11vh;
  backdrop-filter: blur(5px);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  box-shadow: 4px 8px 16px 2px rgba(0, 0, 0, 0.3);
}

.form-group{
  color: #fff !important;
}
.flex-form input[type="submit"] {
  background: #ef3f5a;
  border: 1px solid #ef3f5a;
  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.flex-form input[type="submit"]:hover {
  background: #d73851;
  border: 1px solid #d73851;
}

.flex-form {
  display: -webkit-box;
  display: flex;
  z-index: 10;
  position: relative;
  width: 500px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.flex-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}

input[type="search"] {
  flex-basis: 500px;
}

#madeby {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 25px 100px;
  color: #fff;
}

.fa-heart{
  color: red;
  transform: rotate(45deg);
  padding-left: 5px;

}

nav .brand-logo i{
  float:right !important;
  margin: 0px !important;

}
@media all and (max-width:800px) {
  .input-field{
    margin-bottom:0.2rem !important ;
    margin-top: 0.6rem !important;
  }
  body {
    font-size: 0.9rem;
  }
  /* body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: url('https://images.pexels.com/photos/2972757/pexels-photo-2972757.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')
        no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-color: #008c9b;
    color: #ffffff;
    overflow: auto;
    height: 100vh; 
} */
  
  cover{
    scale:0.8;
  }
  h2{
  margin-top: 0px !important;
  font-size: 1.5rem !important;
  font-weight: 900 !important;
  line-height: 40px !important;
  color: #fff;
  margin-bottom: 0px !important;
  }

  h2 span{
    font-size: 3.7rem !important;

  }
  .flex-form {
    width: 100%;
  }

  input[type="search"] {
    flex-basis: 100%;
  }
  #madeby{
    display: none !important;
    visibility: hidden !important;
    
  }
  .flex-form > * {
    font-size: 0.9rem;
  }

  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 10px !important;
  }

  header h2 {
    margin-bottom: 15px;
  }

  h1 {
    font-size: 2rem;
    font-weight: 100 !important;
    color: #ffffff !important;
  }

  .cover {
    padding: 20px;
  }

  #madeby {
    padding: 30px 20px;
  }
}

@media all and (max-width:600px) {
  nav,nav i{
    line-height: 50px !important;
  }
}

@media all and (max-width:410px) {
  nav{
   
   
    margin-top: 0px !important;
  }
  .fa-heart{
    padding-left: 0px;
  
  }

}

@media all and (max-width:400px) {
  nav .brand-logo{
   
   left: 46% !important;
   
  }
  
}

@media all and (max-width:380px) {
  nav .brand-logo{
   
    left: 48% !important;
    font-size: 1.8rem !important;
    
   }

  
  }
@media all and (max-width:360px) {
  header nav li{
    margin: 0 10px;
  }
  nav .brand-logo{
    font-size: 1.6rem !important;
    left: 47% !important;
    
   }

  .flex-form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  input[type="search"] {
    flex-basis: 0;
  }

  label {
    display: none;
  }
}

@media all and (max-width:330px) {
  nav .brand-logo{
    font-size: 1.4rem !important;
    left: 45% !important;
    
   }

}

@media all and (max-width:300px) {
  nav .brand-logo{
   
    left: 50% !important;
    
   }

   nav .brand-logo i{
    display: none !important;
   }

}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  color:rgb(202, 202, 202) !important;
  font-weight: 600!important;
  font-size: 28px !important;

}

.input-field>label{
  color: rgb(255, 255, 255) !important;
  font-weight: 600!important;
  font-size: 16px !important;
}

.modal-overlay{
  background:transparent !important;
}

.modal{
  box-shadow: 4px 8px 50px 100vh rgba(0, 0, 0, 0.8) !important;
}

.Linkdin ,.Linkdin a{
  position: fixed;
  z-index: 999;
  transform: translateY(-50%);
  top: 50%;
  color:#000;
  width:44px;
  height:140px;
  justify-content: space-between;
  cursor: pointer;
  right: 0;
  background-color: #fff;
}
.bx{
  padding: 14px 15px ;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.rotate-90 {

  transform: rotate(-90deg);
  font-family:'Reckless Neue Medium' ;
  padding: 40px 20px;
  padding-left: 0px;

  
}
#no-underline {
  text-decoration: none;
}

#madeby span , #madeby span a{
  color:#c8c8c8 !important;
  font-family:'Reckless Neue Medium' ;
}

#madeby span a:hover{
  color:#ffffff !important;
  text-decoration: none !important;
}

#resultBtn{
  float:right;
  margin-top: 10px;
}

.btn-flat{
  background-color: rgb(60, 60, 60) !important;
  color: #dcdcdc !important;
  margin-bottom: 10px !important;
  margin-right: 10px !important;
}

.btn-flat:hover{
  background-color: rgb(152, 152, 152) !important;
  color: #fff !important;
}

.btn-flat:focus{
  background-color: rgb(169, 169, 169) !important;
  color: #fff !important;
}

nav ul a:hover{
  background-color:transparent!important;
  color: #ffffff !important;
}

nav ul a{

  color: #f0f0f0 !important;
}